#app {

}

/* AppHeader.js */

#app-header {
  text-align: center;
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

/* PointTotal.js */

#pointTotal {
  display: flex;
  align-items: center;
  justify-content: center;
  background: navy;
  color: white;
  min-height: 100px;
  font-size: 3rem;
}

/* GoalGrid.js */
/* RewardGrid.js */

#goalsHeader, #rewardsHeader {
    text-align: center;
    margin-top: 1rem;
}

#goalGrid, #rewardsGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

#goalGrid div, #rewardsGrid div {
  padding: 0.5rem;
  color: white;
}

/* AddGoal.js */
/* AddReward.js */

#addGoalForm, #addRewardForm, #addItemIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
}

.invisible {
    height: 0px;
}
